:root{
    --top-vertical:0px;
    --left-horizontal:32px;
    --dimensiones-grupo:70px;
}

*{
    font-family: "Share Tech Mono", monospace;
    text-align: center;
    user-select: none;
}

body{
    background-color: beige;
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0.1), 1px, transparent 1px);
    background-size: 10px 10px;
    background-color: #4992b4; 
}

h1{
    text-align: center;
    font-size: xx-large;
}

h2{
    margin-top: 30px;
    font-size: x-large;
}

#jugadores-container{
    display: flex;
    justify-content: center;
}

.jugador-container{
    background-color: rgba(85, 129, 150, 0.5);
    border-radius: 5px;
    width: 30vw;
    min-height: 70vh;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid;
    border-color: #d96a29;
}

.botones-jugador{
    position: fixed;
    top: 65px;
    z-index: 10;
}

img{
    height: var(--dimensiones-grupo);
}

button{
    min-width: 60px;
    font-size: xx-large;
    background-color: #939697;
    border-radius: 5px;
    box-shadow: 4px 2px 6px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

button:active{
    background-color: #d96a29;
}

#reset{
    margin: 20px;
}

dialog{
    background-color: #f0f0f0;
    font-size: 2em;
    border-radius:5px;
}

dialog button{
    background-color: white;
    border: solid #d96a29;

}
dialog button:active{
    background-color: #e5e5e5;
}

.grupo{
    position: relative;
    width: var(--dimensiones-grupo);
    height: var(--dimensiones-grupo);
    margin: 10px;
}

.fosforo1{
    position: absolute;
    transform: rotate(90deg);
    top:-30px;
    left:var(--left-horizontal);
}

.fosforo2{
    position: absolute;
    transform: rotate(180deg);
    top:var(--top-vertical);
    left:65px;
}

.fosforo3{
    position: absolute;
    transform: rotate(270deg);
    top:32px;
    left:var(--left-horizontal);
}

.fosforo4{
    position: absolute;
    transform: rotate(0deg);
    top:var(--top-vertical);
    left:0px;
}

.fosforo5{
    position: absolute;
    transform: rotate(45deg);
    top:0px;
    left:34px;
}

.separador{
    border-top: 2px solid black;
    width: var(--dimensiones-grupo);
    margin: 10px;
}